<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.lzh.nonview.router.host">

    <application>

        <service android:name=".RouterHostService"
            android:process=":routerHostService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.lzh.router.action.HOST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>

</manifest>
